@model MVCProductApp.Models.Product

<h2>Add Product</h2>
<form asp-action="Edit" method="post">
    @Html.AntiForgeryToken()

    <div class="mb-3">
        <label asp-for="Name" class="form-label fw-bold"></label>
        <input asp-for="Name" class="form-control" placeholder="Enter Product Name" />
        <span asp-validation-formaction="Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Price" class="form-label fw-bold"></label>
        <input asp-for="Price" class="form-control" placeholder="Enter Product Price"/>
        <span asp-validation-formation ="Price" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Description" class="form-label fw-bold"></label>
        <input asp-for="Description" class="form-control" placeholder = "Enter Product Description"/>
        <span form-validation-for ="Description" class=" = text-danger"></span>
    </div>
    <button type="submit" class="btn btn-success">Save</button>
    <a asp-action ="Index" class="= "btn btn-secondary ms-2">Back</a>
</form>

